<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
	<title> ArticleBazaar | Contact Us </title>
	<link rel="shortcut icon" type="image/x-icon" href="/png/002-cart.png" />

	<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

	<style type="text/css">

	body{
		font-family: 'PT Serif', cursive;
		background: #FFFFE0;
	}
		
		/*
     * Footer
     */
    .blog-footer {
      padding: 2.5rem 0;
      color: #999;
      text-align: center;
      background-color: #f9f9f9;
      border-top: .05rem solid #e5e5e5;
    }
    .blog-footer p:last-child {
      margin-bottom: 0;
    }

    #navbarCollapse{
      float: right;
    }

    .bg-cover {
    	background-image: url('/contact.jpg');
		  background-size: cover;
		  color: white;
		  background-position: center center;
		  position: relative;
		  z-index: -2;
	}

.overlay {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

	</style>

</head>
<body>

	<header>
	  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	    <a class="navbar-brand" href="/"><img src="/png/002-cart.png"><strong>  ArticleBazaar</strong></a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span>
	        </button>

	        <div class="collapse navbar-collapse" id="navbarCollapse">

	          <ul class="navbar-nav mr-auto nav justify-content-end">
	            <li class="nav-item ">
	              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="/about">About</a>
	            </li>
	            <li class="nav-item active">
	              <a class="nav-link" href="/contact">Contact</a>
	            </li>
	            <li class="nav-item">
                <a class="nav-link" href="/all-articles">Articles</a>
              </li>
	          </ul>

	        </div>
	  </nav>
  </header>

  <div class="jumbotron jumbotron-fluid bg-cover">
  	<div class="overlay"></div>
  	<br><br><br>
  	  
  <div class="container">
  <h1 class="display-4">Contact Us</h1>
  <p class="lead">Do share your views with us regarding our website and let us know what you all want and expect from us.</p>
</div>
</div><br><br>

	<div class="container">
	<div class="col-md-9" style="font-size: 20px">
		<p class="lead">
		<h2><strong>Welcome everyone!</strong></h2><hr>
      	<p><p>If you have any query ,questions,complaint or want to contact then please email us at</p>
      	<p><img src="/png/001-gmail.png">   <strong>articlebazar12@gmail.com</strong></p>
		<p><img src="/png/003-instagram.png">   <strong>k_u.n_j</strong></p></p>
		<p>If you want to advertise on this site Just Contact Us.</p>
		</p>
  </div>
</div>

	</div>

 <br><br><br>
  <!-- FOOTER -->
  <footer class="blog-footer">
     <p ><a href="#">Back to top</a></p>
      <p>&copy; 2018-2019 ArticleBazaar Company, Inc.</p>
  </footer>

</body>
</html>